.question-box {
  background-color: #F1F1F1;
  margin:auto;
  padding: 5px 20px;
  min-height: 200px;
  width: 100%;
  font-size: 110%;
  margin-bottom: 20px;
}
.question {
  font-style: italic;
  color:#333;
}

.answer {
  color:#777;
  font-style: normal;
}

hr {
  border-width:2px;
  width:100%;
  margin-top: 30px;
  margin-bottom: 30px;
}