#search-btn {
    margin-top: 60px;
}
header{
    background-image: url(../img/header.jpg);
    color: #F05F40
}

header .header-content .header-content-inner h1,h4{
    color:white;
}
header .header-content .header-content-inner p {
    color: rgba(255,255,255,.7);
}

@media (min-width:768px){
    .navbar-default{
        background-color:transparent;
    }
}

h4 {
    font-weight: bold;
}
