.glyphicon-star {
  font-size: 30px;
  color: #e67e22;
}

.glyphicon-star.empty {
  color: #bdc3c7;
}

.glyphicon-star.half {
  position: relative;
}
.glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
}
.glyphicon-star.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
}

.small-img {
  max-width: 10%;
  height: auto;
  padding: 5px 5px 5px 5px
}

#base-tutor-element, #base-tutor-row, #no-tutors{display:none;}

#tutor-element{display:initial;}

#profile-image{max-width: 200px; max-height:160px;}

#class, #rate{display: inline}

#rate{padding-left: 5px; color: green; font-weight: bold;}

#number-of-reviews {padding-left: 5px;}

@media (min-width: 992px) {
  #price-filter{margin: 3px;}
}
#price-filter{font-weight: normal;}

#name {
  cursor: pointer;
}

#themarket {
  min-height: 100%;
}
