.tight{
    padding: 3px;
    display: inline;
}

.form-control.col-xs-9 {
    width: 75%;
}

.form-control.col-xs-10 {
    width: 83.33333333%;
}

hr.nonPrimary {
  border-width:2px;
  margin-bottom:0px;
}

/*fix for mobile input date*/
#date{
    -webkit-min-logical-width: 100%;
}

/*prevent zoom for input on IOS*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    input,
    textarea {
      font-size: 16px;
    }
}