#full-rate{
  color: green;
  font-weight: bold;
}

#class-container {
  margin-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 50px;
}

@media (min-width: 768px) {
  #class-container {
    min-height: 1px;
  }
}

.class-objects {
  display: inline;
  margin-bottom: 5px;
}

.glyphicon-star {
  font-size: 20px;
  color: #e67e22;
}

.glyphicon-star.empty {
  color: #bdc3c7;
}

.glyphicon-star.half {
  position: relative;
}
.glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
}
.glyphicon-star.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
}

.small-img {
  max-width: 10%;
  height: auto;
  padding: 5px 5px 5px 5px
}

.large-img {
  width: 70%;
  height: auto;
}

.info-div {
  position: relative;
  z-index: 10;
  height: 100%;
  overflow-y: scroll;
}