<!-- Template for the navigation bar --> 
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="index.html"><span class="glyphicon glyphicon-apple"></span> Tutor Marketplace</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse" role="navigation">
            <ul id="nav-items" class="nav navbar-nav navbar-right">
                <li id="base-nav-item">
                    <a class="page-scroll"></a>
                </li>
                <li id="base-user-nav-item" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" data-target="#user-navbar-dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong id="name"></strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="#user-navbar-dropdown" class="dropdown-menu">
                        <li>
                            <div class="navbar-login">     
                                <a id="profile" class="btn btn-primary btn-block btn-sm">Profile</a>
                            </div>
                        </li>
                        <li class="divider navbar-login-session-bg"></li>
                        <li>
                            <a id="sign-out" href="SignIn.html" onclick="signOut();">Sign Out
                                <span class="glyphicon glyphicon-log-out pull-right"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                </a>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>